.profile-page {
  background: linear-gradient(135deg, #41b4e2, #2d69ad);
  text-align: center;
  padding: 40px 20px;
  height: 100vh;
}

.github-image{
  height: 300px;
  width: 300px;
}
.profile-page img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-page h2 {
  margin-top: 20px;
  font-size: 28px;
  color: #fdfdfd;
}

.profile-page p {
  margin-top: 10px;
  font-size: 16px;
  color: #fffbfb;
}

.profile-page a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #438cdf;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
}

.profile-page a:hover {
  background-color: #2773a7;
}
